.colors-filter {
  margin-bottom: 30px;
  
  .filter-options {
    margin-top: 12px;
  }
  
  .filter-option {
    margin-bottom: 8px;
  }
  
  .show-more-btn {
    background: none;
    border: none;
    color: #666;
    font-size: 12px;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
    
    &:hover {
      color: #333;
    }
  }
}
