// filepath: c:\Users\Giovani\Desktop\WORK\CADASTRA\desenvolvedor-cadastra\src\scss\main.scss
@import './reset.scss';

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
}
